<div class="container">
    {{breadcrumbs}}

    <div class="article-container" id="article-container">
        <article id="main-content" class="article">
            <header class="article-header">
                <h1 title="{{article.title}}" class="article-title">
                    {{article.title}}
                </h1>

                {{!--
                <div class="article-author">
                    {{#if settings.show_article_author}}
                    <div class="avatar article-avatar">
                        {{#if article.author.agent}}
                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false"
                            viewBox="0 0 12 12" class="icon-agent"
                            aria-label="{{t 'team_member' name=article.author.name}}">
                            <path fill="currentColor"
                                d="M6 0C2.7 0 0 2.7 0 6s2.7 6 6 6 6-2.7 6-6-2.7-6-6-6zm0 2c1.1 0 2 .9 2 2s-.9 2-2 2-2-.9-2-2 .9-2 2-2zm2.3 7H3.7c-.3 0-.4-.3-.3-.5C3.9 7.6 4.9 7 6 7s2.1.6 2.6 1.5c.1.2 0 .5-.3.5z" />
                        </svg>
                        {{/if}}
                        <img src="{{article.author.avatar_url}}" alt="" class="user-avatar" />
                    </div>
                    {{/if}}
                    <div class="article-meta">
                        {{#if settings.show_article_author}}
                        {{#link 'user_profile' id=article.author.id}}
                        {{article.author.name}}
                        {{/link}}
                        {{/if}}

                        <ul class="meta-group">
                            {{#is article.created_at article.edited_at}}
                            <li class="meta-data">{{date article.created_at timeago=true}}</li>
                            {{else}}
                            <li class="meta-data">{{date article.edited_at timeago=true}}</li>
                            <li class="meta-data">{{t 'updated'}}</li>
                            {{/is}}
                        </ul>
                    </div>
                </div>

                {{#if settings.show_follow_article}}
                <div class="article-subscribe">{{subscribe}}</div>
                {{/if}}
                --}}
            </header>

            <section class="article-info">
                <div class="article-content">
                    <div class="article-body">{{article.body}}</div>
                    {{!--
                    {{#if attachments}}
                    <div class="article-attachments">
                        <ul class="attachments">
                            {{#each attachments}}
                            <li class="attachment-item">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false"
                                    viewBox="0 0 16 16" class="attachment-icon">
                                    <path fill="none" stroke="currentColor" stroke-linecap="round"
                                        d="M9.5 4v7.7c0 .8-.7 1.5-1.5 1.5s-1.5-.7-1.5-1.5V3C6.5 1.6 7.6.5 9 .5s2.5 1.1 2.5 2.5v9c0 1.9-1.6 3.5-3.5 3.5S4.5 13.9 4.5 12V4" />
                                </svg>
                                <a href="{{url}}" target="_blank">{{name}}</a>
                                <div class="attachment-meta meta-group">
                                    <span class="attachment-meta-item meta-data">{{size}}</span>
                                    <a href="{{url}}" target="_blank" class="attachment-meta-item meta-data">{{t
                                        'download'}}</a>
                                </div>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                    {{/if}}
                    --}}
                </div>
            </section>

            <div class="article-list">
                {{related_articles}}
            </div>

        </article>
        <aside class="article-sidebar" aria-labelledby="section-articles-title">
            <section id='tags-container' class="tags-container">
                <p>Tipo:<span id="tags-container-tipo"></span></p>
                <p>Prioridad: <span id="tags-container-prioridad"></span></p>
                <p>Tag: <span id="tags-container-tag"></span></p>
            </section>
            {{#if settings.show_articles_in_section}}
            <div class="collapsible-sidebar">
                <button type="button" class="collapsible-sidebar-toggle" aria-labelledby="section-articles-title"
                    aria-expanded="false">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" focusable="false" viewBox="0 0 12 12"
                        aria-hidden="true" class="collapsible-sidebar-toggle-icon chevron-icon">
                        <path fill="none" stroke="currentColor" stroke-linecap="round"
                            d="M3 4.5l2.6 2.6c.2.2.5.2.7 0L9 4.5" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" focusable="false" viewBox="0 0 12 12"
                        aria-hidden="true" class="collapsible-sidebar-toggle-icon x-icon">
                        <path stroke="currentColor" stroke-linecap="round" d="M3 9l6-6m0 6L3 3" />
                    </svg>
                </button>

                <div class="collapsible-sidebar-body">
                    <span id="section-articles-title" class="collapsible-sidebar-title sidenav-title">
                        <h3>{{t 'articles_in_section'}}</h3>
                    </span>
                    <ul>
                        {{#each section.articles}}
                        <li>
                            <a href="{{url}}"
                                class="sidenav-item {{#is id ../article.id}}current-article{{/is}}">{{title}}</a>
                        </li>
                        {{/each}}
                    </ul>
                    {{#if section.more_articles}}
                    <a href="{{section.url}}" class="article-sidebar-item">{{t 'see_more'}}</a>
                    {{/if}}
                </div>
            </div>
            {{/if}}
        </aside>
    </div>
</div>

<script>
    window.onload = () => {
        const tagsElement = document.getElementsByClassName('tags')[0];
        if (tagsElement) {
            const tagsText = tagsElement.innerText;
            const tagsArray = tagsText.split('-')
            tagsElement.remove()
            document.getElementById('tags-container-tipo').innerHTML = tagsArray[0].slice(5);
            document.getElementById('tags-container-prioridad').innerHTML = tagsArray[1].slice(11);
            document.getElementById('tags-container-tag').innerHTML = tagsArray[2].slice(5);
        }
        else
            document.getElementById('tags-container').remove();

        const embluers_table = document.getElementById('embluers-table');
        if (embluers_table) {
            const embluers_tr = document.getElementById('embluers').children;
            const embluers_list = {}
            for (let i = 1; i < embluers_tr.length; i++) {
                let embluer_email = embluers_tr[i].firstElementChild.innerText;
                let embluer_id = embluers_tr[i].lastElementChild.innerText;
                embluers_list[embluer_email] = embluer_id;
            }
            embluers_table.setAttribute('hidden', true);

            const parentElement = document.getElementsByClassName('article-body')[0];

            const embluer_input_search = document.createElement("div");
            embluer_input_search.classList.add('embluer-search');

            parentElement.insertBefore(embluer_input_search, embluers_table);
            embluer_input_search.innerHTML = '<div><input id="embluer-input" type="text" placeholder="Ingrese email"/><button id="embluer-search" >Buscar ID</button></div><h4>ID: <span id="result_id"></span></h4><h5 id="show_embluers">Ver listado completo</h5>'

            const botonete = document.getElementById('embluer-search');
            botonete.onclick = () => {
                const inputsito = document.getElementById('embluer-input');
                document.getElementById('result_id').innerHTML = embluers_list[inputsito.value];

            }

            const embluers_list_toggler = document.getElementById('show_embluers');

            embluers_list_toggler.onclick = () => {
                if (embluers_table.getAttribute('hidden')){
                    embluers_list_toggler.innerHTML = 'Ocultar listado';
                    embluers_table.removeAttribute('hidden')
                }
                else{
                    embluers_list_toggler.innerHTML = 'Ver listado completo';
                    embluers_table.setAttribute('hidden', true)
                }
            }
        }
    }
</script>