<h1 class="visibility-hidden">{{ help_center.name }}</h1>

<section class="hero">
    <div class="hero-inner">
        <h2>¡Help!</h2>
        <h3>¡Las respuestas que buscas están aquí!</h3>
        <div class="hero-search">
            <svg class="search-icon" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M14.2059 13.8007L13.9742 14.1306L14.2475 14.4271L17.7627 18.239L16.8189 19.2624L13.3588 15.5101L13.0378 15.1621L12.6728 15.4636C11.3611 16.5471 9.76089 17.1233 8.12361 17.1101V17.11L8.11621 17.1101C7.12022 17.1168 6.13184 16.9091 5.20796 16.4977C4.28395 16.0863 3.44164 15.4788 2.73109 14.7082C2.02045 13.9376 1.456 13.0194 1.07233 12.0061C0.688634 10.9927 0.493872 9.90551 0.500147 8.80799H0.50018L0.500147 8.80227C0.493872 7.70474 0.688634 6.61758 1.07233 5.60418C1.456 4.59081 2.02045 3.67266 2.73109 2.90202C3.44164 2.13147 4.28395 1.52397 5.20796 1.11255C6.13184 0.701186 7.12022 0.49346 8.11621 0.500157V0.500202L8.12293 0.500157C9.11891 0.49346 10.1073 0.701186 11.0312 1.11255C11.9552 1.52397 12.7975 2.13147 13.5081 2.90202C14.2187 3.67266 14.7831 4.59081 15.1668 5.60418C15.5505 6.61758 15.7453 7.70474 15.739 8.80227L15.7389 8.80227L15.739 8.80856C15.7514 10.6151 15.2102 12.371 14.2059 13.8007ZM2.27806 6.2124C1.96783 7.03616 1.81239 7.91742 1.81997 8.80513C1.81239 9.69283 1.96783 10.5741 2.27806 11.3979C2.58884 12.2231 3.04923 12.9753 3.63414 13.6096L4.00171 13.2707L3.63414 13.6096C4.21914 14.244 4.91722 14.7479 5.68874 15.0896C6.45873 15.4306 7.28521 15.6026 8.11957 15.5944C8.95393 15.6026 9.78041 15.4306 10.5504 15.0896C11.3219 14.7479 12.02 14.244 12.605 13.6096C13.1899 12.9753 13.6503 12.2231 13.9611 11.3979C14.2713 10.5741 14.4267 9.69283 14.4192 8.80513C14.4267 7.91743 14.2713 7.03616 13.9611 6.2124C13.6503 5.38719 13.1899 4.63494 12.605 4.00064C12.02 3.36625 11.3219 2.86235 10.5504 2.52066C9.78041 2.17964 8.95393 2.00762 8.11957 2.01584C7.28521 2.00762 6.45873 2.17964 5.68874 2.52066C4.91722 2.86235 4.21914 3.36625 3.63414 4.00064C3.04923 4.63494 2.58884 5.38719 2.27806 6.2124Z"
                    fill="currentColor" stroke="currentColor" />
            </svg>
            {{search submit=false class='search search-full'}}
        </div>
    </div>
</section>

<div class="container">
    <section class="section knowledge-base">
        <h2 class="visibility-hidden">{{ t 'categories' }}</h2>
        <section class="categories blocks">
            <ul class="blocks-list">
                {{#each categories}}
                {{#if ../has_multiple_categories}}
                <li class="blocks-item">
                    <a href='{{url}}' class="blocks-item-link">
                        <span class="blocks-item-title">{{name}}</span>
                        <span class="blocks-item-description">{{excerpt description}}</span>
                    </a>
                </li>
                {{else}}
                {{#each sections}}
                <li class="blocks-item">
                    <a href='{{url}}' class="blocks-item-link">
                        <span class="blocks-item-title">
                            {{name}}
                        </span>
                        <span class="blocks-item-description">{{excerpt description}}</span>
                    </a>
                </li>
                {{/each}}
                {{/if}}
                {{/each}}
            </ul>
            {{pagination}}
        </section>

        {{#if promoted_articles}}
        <section class="articles">
            <h2>{{t 'promoted_articles'}}</h2>
            <ul class="article-list promoted-articles">
                {{#each promoted_articles}}
                <li class="promoted-articles-item">
                    <a href="{{url}}">
                        {{title}}

                        {{#if internal}}
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false"
                            viewBox="0 0 16 16" class="icon-lock" title="{{t 'internal'}}">
                            <rect width="12" height="9" x="2" y="7" fill="currentColor" rx="1" ry="1" />
                            <path fill="none" stroke="currentColor" d="M4.5 7.5V4a3.5 3.5 0 017 0v3.5" />
                        </svg>
                        {{/if}}
                    </a>
                </li>
                {{/each}}
            </ul>
        </section>
        {{/if}}
    </section>

    {{#if help_center.community_enabled}}
    <section class="section home-section community">
        <h2>{{t 'community'}}</h2>
        {{#link 'community' class='community-link'}}
        {{t 'join_conversation'}}
        {{/link}}

        <div class="community-image"></div>
    </section>
    {{/if}}

    <section class="section home-section activity">
        {{#if settings.show_recent_activity}}
        {{recent_activity}}
        {{/if}}
    </section>
</div>

<style>
    .header {
        background: none;
    }

    .user-nav-list .header-link {
        display: inline-block;
    }

    .search-container {
        display: none;
    }
</style>